*.unity3d filter=lfs diff=lfs merge=lfs -text
High[[:space:]]Precision[[:space:]]Framework/ filter=lfs diff=lfs merge=lfs -text
Assets/Samples/High Precision Framework/1.0.0/High Precision Sample/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset filter=lfs diff=lfs merge=lfs -text